body{
    background-color: bisque;
}

.img.image-dog{
    height: 75px;
}

.product-card {
    transition: transform 0.5s ease-in-out;
}

.product-card:hover {
    transform: scale(1.1);
}


.fa-dog,
.fa-cat {
    font-size: 1.5rem; 
    transition: transform 0.3s ease-in-out;
}

.fa-dog:hover,
.fa-cat:hover {
    transform: scale(1.3);
}